{{ template "base" .}}

{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the Majors Quarters Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/make-reservation-go" class="btn btn-success">Check Availability</a>
        </div>
    </div>
</div>
{{ end }}